# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [3]:
import pandas as pd
import csv

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [4]:
csv_data = open('application_data.csv','r')
arise_csv_data = pd.read_csv(csv_data)

arise_csv_data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [5]:
pd.to_datetime(arise_csv_data["appilcationDate"])
pd.to_datetime(arise_csv_data["repaymentDueDate"])
pd.to_datetime(arise_csv_data["repaymentPaidDate"])

0     2019-01-16
1     2018-12-29
2     2019-01-08
3     2019-01-08
4     2019-01-17
5     2019-01-09
6     2019-01-15
7     2019-01-16
8     2019-01-16
9     2019-01-11
10    2019-01-07
11    2019-01-14
12    2019-01-16
13    2019-01-04
14    2018-12-23
15    2018-12-21
16    2019-01-04
17    2018-12-30
18    2018-12-15
19    2019-01-08
20    2019-01-06
21    2019-01-10
22    2018-12-19
23    2018-12-28
24    2019-01-07
25    2019-01-09
26    2019-01-10
27    2019-01-10
28    2019-01-04
29    2019-01-03
         ...
970   2018-07-02
971   2018-02-10
972   2018-04-13
973   2018-10-23
974   2018-07-07
975   2018-02-17
976   2018-02-09
977   2018-10-17
978   2018-11-20
979   2018-05-30
980   2018-04-17
981   2018-12-30
982   2018-02-03
983   2018-05-09
984   2018-02-19
985   2018-04-13
986   2018-12-19
987   2018-07-12
988   2018-04-10
989   2018-02-04
990   2018-07-12
991   2018-11-30
992   2018-02-06
993   2018-02-05
994   2018-02-02
995   2018-01-20
996   2018-03-14
997   2018-10-12
998   2018-12-17
999   2018-02-11
Name: repaymentPaidDate, Length: 1000, dtype: datetime64[ns]

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [6]:
# data types

arise_csv_data.dtypes

customerID            object
loanId                object
appilcationDate       object
LoanNumber             int64
LoanAmount           float64
InterestRate         float64
TermDays               int64
repaymentDueDate      object
repaymentPaidDate     object
dtype: object

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [7]:
def averagefunc(list):
    sum_of_list = sum(list)
    return sum_of_list/len(list)

# 2a avg loan amount

round(averagefunc(list(arise_csv_data["LoanAmount"])), 2)

13828.08

In [8]:
# 2b avg interest rate

round(averagefunc(list(arise_csv_data["InterestRate"])), 2)

23.06

In [9]:
# 2c avg term days 

round(averagefunc(list(arise_csv_data["TermDays"])), 2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [10]:
import datetime as dt

# number of loans more than 3 days late

arise_csv_data["dateDifference"] = (pd.to_datetime(arise_csv_data["repaymentDueDate"]) - pd.to_datetime(arise_csv_data["repaymentPaidDate"]))

int_list_days = []
for i in arise_csv_data["dateDifference"]:
    int_list_days.append(int(str(i).split()[0]))

arise_csv_data["dateintDifference"] = int_list_days
arise_csv_data.loc[arise_csv_data.dateintDifference < -3, "dateDifference"].count()

145

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [11]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans

# arise_csv_data.groupby(["TermDays"]).first()

grouped_1_data = arise_csv_data.groupby('TermDays', as_index=False).agg({"LoanAmount": ["mean", "std"]})

print ("mean loan amount in 30-day loans is :  "  + str(round(grouped_1_data.LoanAmount["mean"][1], 2)))
print ("standard deviation of loan amount in 90-day loans is : " + str(round(grouped_1_data.LoanAmount["std"][4], 2)))

grouped_1_data

mean loan amount in 30-day loans is :  7941.96
standard deviation of loan amount in 90-day loans is : 18050.14

  TermDays    LoanAmount
                    mean           std
0       15   1274.088050   2885.967406
1       30   7941.964286   1606.039495
2       45  10706.250000   2346.143820
3       60  25710.526316  11559.646185
4       90  37672.727273  18050.140602
5      120  45055.555556  22192.966854
6      180  80988.095238  34612.222587

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [14]:
# week of year and average number of late days

appilcationWeekofYear = []

for i in list(arise_csv_data["appilcationDate"]):
    d = dt.datetime.strptime(i,'%Y-%m-%d')
    appilcationWeekofYear.append(int(dt.datetime.strftime(d,'%W')))
    
arise_csv_data["appilcationWeekofYear"] = appilcationWeekofYear

new_arise_csv_data = arise_csv_data[arise_csv_data.dateintDifference < -3]

grouped_2_data = new_arise_csv_data.groupby('appilcationWeekofYear', as_index=False).agg({"dateintDifference": "mean"})
print (round(grouped_2_data["dateintDifference"][1], 2))
# grouped_2_data

grouped_2_data

-45.75

    appilcationWeekofYear  dateintDifference
0                       1         -87.600000
1                       2         -45.750000
2                       3         -16.500000
3                       4         -37.916667
4                       5         -18.000000
5                       6         -39.714286
6                       7         -29.250000
7                       8         -25.153846
8                       9         -55.857143
9                      10         -29.250000
10                     11         -71.500000
11                     12         -19.500000
12                     13         -34.000000
13                     14         -14.000000
14                     15          -7.000000
15                     17         -34.500000
16                     19         -66.500000
17                     20         -28.000000
18                     21         -10.000000
19                     22         -88.000000
20                     23         -11.000000
21                     24         -36.000000
22                     26         -27.333333
23                     27          -4.000000
24                     28          -7.000000
25                     29         -69.000000
26                     30         -65.000000
27                     31        -108.000000
28                     32         -15.500000
29                     33         -30.000000
30                     34         -14.000000
31                     35          -4.000000
32                     36         -39.333333
33                     37         -17.200000
34                     38         -60.000000
35                     39          -9.000000
36                     40          -9.000000
37                     41          -8.000000
38                     42         -20.000000
39                     44          -9.000000
40                     45          -6.000000
41                     48         -18.000000

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.